* {margin:0; padding: 0;}
html, body {
    height:100%;
}

.logo{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/** formata elementos que tem backgrounds parallax **/
.bgParallax {
    font-family: 'Elsie', cursive;
    color:rgb(255, 255, 255);
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
    min-height: 100%;
    text-shadow:0 0 80px rgba(0,0,0,0.7);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
}

/* Define backgrounds dos divs */
#home {
    background-image: url(../imgs/principal.jpg);
    background-size: cover;
    
}
#nossoPlano {
    background-image: url(../imgs/walpper.jpeg);
    -webkit-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
    -moz-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
    -ms-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
    -o-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
    box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
}

/** Formata o article que vai o texto **/
.bgParallax article {
  width: 70%;
  text-align: center;
  margin:0 auto;
  padding:20% 0 0;
  
}

/** formata texto **/
article h1 {font-size:45px; font-weight: bold;}
article p {line-height: 30px; font-size:30px; margin-top:15px;}
article p a {color:#FFF; text-decoration:none; font-size:30px;}
